What is total amount of damages due to missed pickups

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
trash_pickups = pd.read_csv('../data/trash_hauler_report_with_lat_lng.csv')

In [3]:
trash_pickups.head()

,Request Number,Date Opened,Request,Description,Incident Address,Zip Code,Trash Hauler,Trash Route,Council District,State Plan X,State Plan Y,LONGITUDE,LATITUDE
0,25270,11/1/2017,Trash - Backdoor,"house with the wheel chair ramp, they share dr...",3817 Crouch Dr,37207.0,RED RIVER,3205,2.0,1727970.412,686779.4781,-86.815392,36.217292
1,25274,11/1/2017,Trash - Curbside/Alley Missed Pickup,Curb/Trash miss Tuesday.,4028 Clarksville Pike,37218.0,RED RIVER,4202,1.0,1721259.366,685444.7996,-86.838103,36.213470
2,25276,11/1/2017,Trash - Curbside/Alley Missed Pickup,Curb/trash miss Tuesday.,6528 Thunderbird Dr,37209.0,RED RIVER,4205,20.0,1707026.753,659887.4716,-86.885562,36.142923
3,25307,11/1/2017,Trash - Curbside/Alley Missed Pickup,missed,2603 old matthews rd,37207.0,WASTE IND,2206,2.0,1735691.771,685027.2459,-86.789170,36.212652
4,25312,11/1/2017,Trash - Curbside/Alley Missed Pickup,Missed the even side of the road.,604 croley dr,37209.0,RED RIVER,4203,20.0,1710185.772,664205.1011,-86.874995,36.154861

In [4]:
trash_pickups.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20226 entries, 0 to 20225
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Request Number    20226 non-null  int64
 1   Date Opened       20226 non-null  object
 2   Request           20226 non-null  object
 3   Description       20195 non-null  object
 4   Incident Address  20217 non-null  object
 5   Zip Code          20151 non-null  float64
 6   Trash Hauler      19325 non-null  object
 7   Trash Route       19279 non-null  object
 8   Council District  20177 non-null  float64
 9   State Plan X      20198 non-null  float64
 10  State Plan Y      20198 non-null  float64
 11  LONGITUDE         20198 non-null  float64
 12  LATITUDE          20198 non-null  float64
dtypes: float64(6), int64(1), object(6)
memory usage: 2.0+ MB

In [5]:
red_river_pickups = trash_pickups[trash_pickups['Trash Hauler'] == 'RED RIVER']
red_river_pickups.head()

,Request Number,Date Opened,Request,Description,Incident Address,Zip Code,Trash Hauler,Trash Route,Council District,State Plan X,State Plan Y,LONGITUDE,LATITUDE
0,25270,11/1/2017,Trash - Backdoor,"house with the wheel chair ramp, they share dr...",3817 Crouch Dr,37207.0,RED RIVER,3205,2.0,1727970.412,686779.4781,-86.815392,36.217292
1,25274,11/1/2017,Trash - Curbside/Alley Missed Pickup,Curb/Trash miss Tuesday.,4028 Clarksville Pike,37218.0,RED RIVER,4202,1.0,1721259.366,685444.7996,-86.838103,36.213470
2,25276,11/1/2017,Trash - Curbside/Alley Missed Pickup,Curb/trash miss Tuesday.,6528 Thunderbird Dr,37209.0,RED RIVER,4205,20.0,1707026.753,659887.4716,-86.885562,36.142923
4,25312,11/1/2017,Trash - Curbside/Alley Missed Pickup,Missed the even side of the road.,604 croley dr,37209.0,RED RIVER,4203,20.0,1710185.772,664205.1011,-86.874995,36.154861
5,25317,11/1/2017,Trash Collection Complaint,left trash cart in middle of driveway instead ...,3602 floral dr,37211.0,RED RIVER,4304,16.0,1751660.164,643215.2011,-86.733980,36.098140

In [6]:
red_river_pickups.info()

<class 'pandas.core.frame.DataFrame'>
Index: 14395 entries, 0 to 20225
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Request Number    14395 non-null  int64
 1   Date Opened       14395 non-null  object
 2   Request           14395 non-null  object
 3   Description       14376 non-null  object
 4   Incident Address  14394 non-null  object
 5   Zip Code          14361 non-null  float64
 6   Trash Hauler      14395 non-null  object
 7   Trash Route       14393 non-null  object
 8   Council District  14379 non-null  float64
 9   State Plan X      14390 non-null  float64
 10  State Plan Y      14390 non-null  float64
 11  LONGITUDE         14390 non-null  float64
 12  LATITUDE          14390 non-null  float64
dtypes: float64(6), int64(1), object(6)
memory usage: 1.5+ MB

In [7]:
misses = red_river_pickups[red_river_pickups['Description'].str.contains('missed', na=False)]
misses.head(10)

,Request Number,Date Opened,Request,Description,Incident Address,Zip Code,Trash Hauler,Trash Route,Council District,State Plan X,State Plan Y,LONGITUDE,LATITUDE
15,25371,11/1/2017,Trash - Curbside/Alley Missed Pickup,Pickup missed,2218 BUENA VISTA PIKE,37218.0,RED RIVER,4204,2.0,1724505.766,679777.5997,-86.826936,36.197979
23,25474,11/1/2017,Trash - Curbside/Alley Missed Pickup,Customer says backdoor pickup was missed the p...,1144 Sewanee Rd,37220.0,RED RIVER,3302,34.0,1731663.367,639182.4023,-86.801552,36.086631
27,25508,11/1/2017,Trash Collection Complaint,missed. Neighbor missed as well-say she is at ...,2812 27TH AVE S,37212.0,RED RIVER,2305,18.0,1729022.334,652985.6791,-86.810877,36.124488
28,25509,11/1/2017,Trash - Curbside/Alley Missed Pickup,cust says entire street was missed,4506 DAKOTA AVE,37209.0,RED RIVER,1308,24.0,1720100.165,661552.8009,-86.841336,36.147814
30,25512,11/1/2017,Trash - Curbside/Alley Missed Pickup,cust says entire street was missed,4311 dakota ave,37209.0,RED RIVER,1308,24.0,1720100.165,661552.8009,-86.841336,36.147814
35,25525,11/1/2017,Trash Collection Complaint,Missed my trash AGAIN.\ncheck your records. I...,162 antioch pike,37211.0,RED RIVER,4304,16.0,1753144.965,644275.2022,-86.728981,36.101082
36,25529,11/1/2017,Trash - Curbside/Alley Missed Pickup,The trash can was missed this week. They picke...,131 page rd,37205.0,RED RIVER,1302,34.0,1712019.569,642604.8609,-86.868134,36.095572
38,25536,11/2/2017,Trash - Curbside/Alley Missed Pickup,trash missed Wednesday. Curb,6011 Jocelyn Hollow Rd,37205.0,RED RIVER,1304,23.0,1711333.967,649685.9015,-86.870668,36.115006
41,25542,11/2/2017,Trash - Curbside/Alley Missed Pickup,Curb/Court missed Wednesday. Trash,305 Williams Ct,37209.0,RED RIVER,1301,22.0,1697285.716,651096.8117,-86.918272,36.118529
42,25575,11/2/2017,Trash - Curbside/Alley Missed Pickup,missed pick up,346 lynn dr,37211.0,RED RIVER,4302,26.0,1747944.091,637187.7979,-86.746402,36.081506

In [8]:
grouped_address = misses.groupby('Incident Address')['Incident Address'].value_counts().reset_index(name='count')
grouped_address.head(10)

                                    Incident Address  count
0  100 Clydelan Ct, Nashville, TN 37205, United S...      1
1    100 Dyer Ct, Nashville, TN 37218, United States      1
2  100 Iroquois Ct, Nashville, TN 37205, United S...      1
3  100 Lincoln Ct, Nashville, TN 37205, United St...      2
4  100 Nashboro Greens, Nashville, TN 37217, Unit...      1
5                                 100 Peachtree St C      1
6   100 Rhine Dr, Nashville, TN 37115, United States      1
7                         100 S GRAYCROFT AVE, 37115      1
8                               100 Whitney Place Ct      1
9                                   100 cedarmont ct      1

In [9]:
multiple_misses = grouped_address[grouped_address['count'] >=2]
multiple_misses.info()

<class 'pandas.core.frame.DataFrame'>
Index: 695 entries, 3 to 4119
Data columns (total 2 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Incident Address  695 non-null    object
 1   count             695 non-null    int64
dtypes: int64(1), object(1)
memory usage: 16.3+ KB

In [10]:
multiple_misses['running_total'] = multiple_misses['count'].cumsum()

/var/folders/9h/g0rkqfv512jfzf83x03ycm1c0000gn/T/ipykernel_19720/2432700330.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  multiple_misses['running_total'] = multiple_misses['count'].cumsum()

In [11]:
multiple_misses.reset_index()

,index,Incident Address,count,running_total
0,3,"100 Lincoln Ct, Nashville, TN 37205, United St...",2,2
1,12,"1000 Trice Dr, Nashville, TN 37209, United States",2,4
2,26,1005 noelton ave,2,6
3,31,1007 EDWIN WARNER DR,2,8
4,40,"101 Haynes Park Dr, Nashville, TN 37218, Unite...",2,10
...,...,...,...,...
690,4107,"950 Glendale Ln, Nashville, TN 37204, United S...",2,1791
691,4109,"954 Battery Ln, Nashville, TN 37220, United St...",4,1795
692,4111,"958 Battery Ln, Nashville, TN 37220, United St...",2,1797
693,4113,"960 44th Ave N, Nashville, TN 37209, United St...",2,1799
694,4119,998 shadow ln,2,1801

In [13]:
1801 - 695 #subtracting the number of entries because the first incident is not fined.

1106

In [14]:
1106*200 #multiplying by 200 because that is the fine per infraction.

221200

In [ ]:
# $221,200 is the total amount owed